<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead  class="thead-dark">
        <tr>
          <th class="h4">#</th>
          <th class=" h4">Nombre</th>
          <th class="h4">Canal</th>
          <th class="h4">Temporadas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of series">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td class="text-primary">
            <dd>{{c.name}}</dd>
          </td>
          <td>
            <dd>{{c.channel}}</dd>
          </td>
          <td>
            <dd>{{c.seasons}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
    <h6>
      seasons average: {{promedio}}   </h6>
  </div>
</div>
